<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>attendance</title>
    <style>
		table {
			border-collapse: collapse;
			border: 2px solid black;
		}
		th, td {
			border: 2px solid black;
			padding: 4px;
		}
		body {
    background:linear-gradient(to left, #33ccff 0%, #ffffff 100% );
}
     </style>
</head>
<body>

    <form action="/add_attendance" method="get">
       <table style="text-align:center">
           <colgroup>
            <col style="width:10%;">
               </colgroup>
           <tr>
               <th>date</th>
               <th>sem</th>
               <th>id</th>
               <th>roll</th>
               <th>sub1</th>
               <th>sub2</th>
               <th>sub3</th>
               <th>sub4</th>
               <th>sub5</th>
               <th>sub6</th>
           </tr>
            {% for items in data %}
           <tr>
               <td class="narrow-column"><input type="date" name="date" formaction="/attendance" formmethod="post" size="5"></td>
               <td><input type="text" name="sem"  size="5"></td>
               <td>{{items[2]}}</td>
               <td><input type="text" name="roll_no" size="5"></td>
               <td><input type="text" name="sub1"  size="5"></td>
               <td><input type="text" name="sub2"  size="5"></td>
               <td><input type="text" name="sub3"  size="5"></td>
               <td><input type="text" name="sub4"  size="5"></td>
               <td><input type="text" name="sub5"  size="5"></td>
               <td><input type="text" name="sub6"   size="5"></td>

           </tr>
             {% endfor %}
       </table><br><br>
        <button type="submit" value="submit" name="add" typeof="lg" formaction="/add_attendance" formmethod="post">Add</button>
        <button type="submit" value="submit" name="update" typeof="lg" formaction="/update_attendance" formmethod="post">Update</button>
        <button type="submit" value="submit" name="clear" typeof="lg" formaction="/clear_attendance" formmethod="post">Clear</button>
        <button type="submit" value="submit" name="delete" typeof="lg" formaction="/delete_attendance" formmethod="post">Delete</button>
        {{error}}
    </form>
</body>
</html>