<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
       <table class="center">
          <tr>
              <th>branch</th>
            <th>roll_no</th>
            <th>name</th>
            <th>email_id</th>
            <th>mob_no</th>
            <th>sem</th>
          </tr>
        {% for item in data %}
        <tr>
            <td style="text-align:center;">{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
           <td>{{item[3]}}</td>
           <td>{{item[4]}}</td>
           <td>{{item[5]}}</td>

        </tr>
           {% endfor %}
       </table>
</body>
</html>