<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>marks</title>
    <style>
		table {
			border-collapse: collapse;
			border: 2px solid black;
		}
		th, td {
			border: 2px solid black;
			padding: 4px;
		}
		body {
    background:linear-gradient(to left, #33ccff 0%, #ffffff 100% );
}
     </style>
</head>
<body>

        <form action="/add_marks" method="get">
       <table id="marks_table">
           <tr>
               <th>roll_no</th>
               <th>sem</th>
               <th>sub1</th>
               <th>sub2</th>
               <th>sub3</th>
               <th>sub4</th>
               <th>sub5</th>
               <th>sub6</th>
           </tr>
           <tr>
               <td><input type="number" name="roll_no"  size="5"></td>
               <td><input type="number" name="sem"  size="5"></td>
               <td><input type="text" name="sub1"  size="5"></td>
               <td><input type="text" name="sub2"  size="5"></td>
               <td><input type="text" name="sub3"  size="5"></td>
               <td><input type="text" name="sub4"  size="5"></td>
               <td><input type="text" name="sub5"  size=""></td>
               <td><input type="text" name="sub6"  size="5"></td>

           </tr>
       </table>
             <button type="submit" value="submit" name="submit" typeof="lg" formaction="/add_marks" formmethod="post">Add</button>
        </form>
        <button onclick="addRow()" formmethod="get" formaction="/add_marks">Add Row</button>

    <script>
        function addRow() {
            var table = document.getElementById("marks_table");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(7);
            var cell8 = row.insertCell(8);
            cell1.innerHTML = '<input type="text" name="roll_no">';
            cell2.innerHTML = '<input type="text" name="sem">';
            cell3.innerHTML = '<input type="text" name="sub1">';
            cell4.innerHTML = '<input type="text" name="sub2">';
            cell5.innerHTML = '<input type="text" name="sub3">';
            cell6.innerHTML = '<input type="text" name="sub4">';
            cell7.innerHTML = '<input type="text" name="sub5">';
            cell8.innerHTML = '<input type="text" name="sub6">';
        }
    </script>

        {{error}}




</body>
</html>