<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print</title>

    <style>

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 2px solid black;
        }
        body {
    background:linear-gradient(to left, #33ccff 0%, #ffffff 100% );
}
    h3{text-align:center}

    </style>
</head>
<body>

        <h3>College Management System</h3>
                    <table class="table">
                        <tr>
                            <th>Sl_no</th>
                            <th>Branch</th>
                            <th>Roll_no</th>
                            <th>Names</th>
                            <th>Email_id</th>
                            <th>Mobile_No</th>
                            <th>Semester</th>
                            <th>date</th>
                            <th>sub1</th>
                            <th>sub2</th>
                            <th>sub3</th>
                            <th>sub4</th>
                            <th>sub5</th>
                            <th>sub6</th>
                        </tr>
                        {%for items in data %}
                        <tr>

                            <td>{{items[0]}}</td>
                            <td>{{items[1]}}</td>
                            <td>{{items[2]}}</td>
                            <td>{{items[3]}}</td>
                            <td>{{items[4]}}</td>
                            <td>{{items[5]}}</td>
                            <td>{{items[6]}}</td>
                            <td>{{items[7]}}</td>
                            <td>{{items[10]}}</td>
                            <td>{{items[11]}}</td>
                            <td>{{items[12]}}</td>
                            <td>{{items[13]}}</td>
                            <td>{{items[14]}}</td>
                            <td>{{items[15]}}</td>
                        </tr>
                                {% endfor %}
                    </table>




        <form style="text-align:left;">
            <button type="submit" id="logout" value="submit" name="Logout" formmethod="get" formaction="/logout">Logout</button>
        </form>
</body>
</html>