<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


        <form action="/add" method="post">
            <label for="dname">date:</label><br>
            <input type="date" id="dname" name="mob_no" placeholder="Enter date here"><br>
            <label for="fname">Branch:</label><br>
            <input type="text" id="fname" name="branch" placeholder="Enter branch here"><br>
            <label for="lname">Roll_no:</label><br>
            <input type="number" id="lname" name="roll_no" placeholder="Enter roll_no here"><br>
            <label for="lname">Name:</label><br>
            <input type="text" id="mname" name="name" placeholder="Enter name here"><br>
            <label for="nname">Email:</label><br>
            <input type="text" id="nname" name="email" placeholder="Enter email here"><br>
            <label for="aname">Mob_no:</label><br>
            <input type="number" id="aname" name="mob_no" placeholder="Enter mob_no here"><br>
            <label for="bname">Sem:</label><br>
            <input type="number" id="bname" name="mob_no" placeholder="Enter sem here"><br><br>
            <input type="submit" value="Submit" name="Add">
        </form>
        <br />

</body>
</html>