<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <a href="/home">click</a>

        <form action="/" method="post">
            <label for="fname">Branch:</label><br>
            <input type="text" id="fname" name="branch" placeholder="Enter branch here"><br><br>
            <label for="lname">Roll_no:</label><br>
            <input type="number" id="lname" name="roll_no" placeholder="Enter roll_no here"><br><br>
            <label for="lname">Name:</label><br>
            <input type="text" id="mname" name="name" placeholder="Enter name here"><br><br>
            <label for="nname">Email:</label><br>
            <input type="text" id="nname" name="email" placeholder="Enter email here"><br><br>
            <label for="aname">Mob_no:</label><br>
            <input type="number" id="aname" name="mob_no" placeholder="Enter mob_no here"><br><br>
            <label for="bname">Sem:</label><br>
            <input type="number" id="bname" name="mob_no" placeholder="Enter sem here"><br><br>
            <label for="dname">date:</label><br>
            <input type="date" id="dname" name="mob_no" placeholder="Enter date here"><br><br>
            <input type="submit" value="Submit">

        </form>
        <br />
</body>
</html>ootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>