<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        .container {
            display: flex;
        }

        .form-container {
            flex: 1;
            margin-right: 10px;
            font-size:20px;
        }

        .table-container {
            colspan:"3";
            flex:3;
            margin-right:150px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 2px solid black;
        }
        body {
    background:linear-gradient(to left, #33ccff 0%, #ffffff 100% );
}
    h3{text-align:center}

    </style>


</head>
<body>
        <h3>College Management System</h3>
        <div class="container">
            <div class="form-container">

                <form  id="myform">
                    <label for="sl_no">Sl_no:</label><br>
                    <input type="text" id="sl_no" name="sl_no" placeholder="Enter count here"><br>
                    <label for="branch">Branch:</label><br>
                    <input type="text" id="branch" name="branch" placeholder="Enter branch here"><br>
                    <label for="roll_no">Roll_no:</label><br>
                    <input type="number" id="roll_no" name="roll_no" placeholder="Enter roll_no here"><br>
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" placeholder="Enter name here"><br>
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email" placeholder="Enter email here"><br>
                    <label for="mob_no">Mob_no:</label><br>
                    <input type="number" id="mob_no" name="mob_no" placeholder="Enter mob_no here"><br>
                    <label for="sem">Sem:</label><br>
                    <input type="number" id="sem" name="sem" placeholder="Enter sem here"><br><br>

                     <button type="submit" value="submit"  name="Add" formaction="/add_students" formmethod="post">ADD</button>
                    <button type="submit" value="submit" name="Update" formaction="/update" formmethod="post">UPDATE</button>
                    <button type="submit" value="submit" name="Clear" formaction="/clear" formmethod="get">CLEAR</button>
                    <button type="submit" value="submit" name="Delete" formaction="/delete" formmethod="post">DELETE</button><br>
                                                        {{error}}
                    <button type="button" onclick="addRow()" value="ADDROW">ADDROW</button><br>
                </form><br>

            </div>

            <div class="table-container">
                <table id="students_table" >

                    <tr>
                        <th>sl_no</th>
                        <th>Branch</th>
                        <th>Roll_no</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mob_no</th>
                        <th>Sem</th>
                    </tr>
                <tbody>

                </tbody>
                </table>
            </div>
        </div>

        <script>
        var rowCount = 1;

        function addRow() {
            var sl_no = document.getElementById("sl_no").value;
            var branch = document.getElementById("branch").value;
            var roll_no = document.getElementById("roll_no").value;
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var mob_no = document.getElementById("mob_no").value;
            var sem = document.getElementById("sem").value;

            var table = document.getElementById("students_table").getElementsByTagName("tbody")[0];
            var newRow = table.insertRow(rowCount);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            var cell5 = newRow.insertCell(4);
            var cell6 = newRow.insertCell(5);
            var cell7 = newRow.insertCell(6);

            cell1.innerHTML = sl_no;
            cell2.innerHTML = branch;
            cell3.innerHTML = roll_no;
            cell4.innerHTML = name;
            cell5.innerHTML = email;
            cell6.innerHTML = mob_no;
            cell7.innerHTML = sem;
            rowCount++;

            // Clear input fields after adding row
           document.getElementById("sl_no").value = "";
           document.getElementById("branch").value = "";
           document.getElementById("roll_no").value="";
           document.getElementById("name").value="";
           document.getElementById("email").value="";
           document.getElementById("mob_no").value="";
           document.getElementById("sem").value="";

        }
        $("#myform").submit(function(event) {
            event.preventDefault(); // Prevent form submission

            // Serialize form data
            var formData = $(this).serialize();

       $.ajax({
                url: "http://127.0.0.1:5000/add_students", // Replace with your server-side processing script URL
                type: "POST",
                data: formData,
                success: function(response) {
                    // Handle the server response, if needed
                },
                error: function() {
                    // Handle the error, if any
                }
            });
       });

</script>

        <a href="/add_attendance">click here to go to attendance page</a><br>
        <a href="/marks">click here to go to marks page</a><br>
        <a href="/display_records">click here to view all records and print</a>

        <form style="text-align:left;">
            <button type="submit" id="logout" value="submit" name="Logout" formmethod="get" formaction="/logout">Logout</button>
        </form>
</body>
</html>